.filter-container {
  padding-top: 6px;
  margin-left: 28px !important;
}
.filter-container .filter-flex-card {
  background: #fff;
  width: 300px;
  margin: 25px 0 0 25px;
  border-radius: 6px;
  padding: 10px;
  box-sizing: content-box;
}

.filter-types {
  /* margin: 28px 20px 0 0; */
  margin-top: 0px;
  padding-top: 10px;
  height: 40px;
  width: 275px;
  border-radius: 6px;
  display: block;
  border: 1px solid #f2f2f2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
}
.add-files {
  width: 252px !important;
  margin: 25px 0 25px 0 !important;
}
.abacus-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  height: calc(100vh - 95px);
}
.abacus-container .abacus-flex-card {
  background: #fff;
  width: 300px;
  margin: 25px 0 0 25px;
  border-radius: 6px;
  padding: 10px;
  max-height: calc(100vh - 175px);
  overflow-y: scroll;
  box-sizing: content-box;
}
.abacus-container .abacus-flex-card .card-action {
  padding: 20px 25px 20px 20px;
}
.abacus-container .abacus-flex-card .card-action button {
  width: 90%;
  margin: 0 0 0 0;
  background: #e6877c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  transition: 0.5s;
}
.abacus-container .abacus-flex-card .card-action button:hover {
  background: #da4c3c;
  cursor: pointer;
  transition: 0.5s;
}
.abacus-container .abacus-flex-card .card-action ul li a {
  color: #31657d !important;
}
.abacus-container .abacus-flex-card .card-action ul li a:hover {
  color: #7cb2cb !important;
}
.abacus-container .add-class {
  height: 100px;
  padding: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.35);
  transition: 0.5s;
  width: 310px;
  margin: 25px;
}
.abacus-container .add-class a {
  color: #455a64;
}
.abacus-container .add-class .card-content {
  padding: 12px;
}
.abacus-container .add-class h3 {
  margin: 0;
  font-size: 18px;
}
.abacus-container .add-class i {
  font-size: 36px;
  padding: 10px;
  margin: 0;
  color: #455a64;
  transition: 0.5s;
}
.abacus-container .add-class:hover {
  transform: scale(1.025);
  cursor: pointer;
  transition: 0.5s;
}
.abacus-container .add-class:hover i {
  color: #579dbd;
  transition: 0.5s;
}
.top-bar {
  background: rgba(121, 159, 176, 0.75);
  color: #fff;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.5);
  height: 54px;
  margin-bottom: 0;
}
.top-bar input[type="text"] {
  color: #fff;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
.top-bar ::placeholder {
  color: #fff;
}
.top-bar h6 {
  margin: 0;
  padding-top: 15px;
  text-align: center;
}
.top-bar h6 span {
  color: #234758;
}
