.homepage nav {
  height: 95px;
  line-height: 95px;
  border-bottom: 5px solid #e6877c;
  font-family: Futura, sans-serif;
  background-color: transparent;
}

.homepage .nav-wrapper {
  background: rgba(225, 225, 225, 0.75);
  background: rgba(225, 225, 225, 0.75);
}

.homepage nav .brand-logo {
  color: #343434;
}

.homepage nav .brand-logo i {
  font-size: 36px;
  margin: 15px 10px 0 25px;
}

.homepage nav ul a,
.homepage nav ul a button {
  font-family: Futura, sans-serif;
}

.homepage nav ul a {
  color: #343434;
}

.parallax-header {
  position: absolute;
  top: 250px;
  left: 250px;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 6px;
  width: 50%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.parallax-header h2 {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: #fff;
  font-family: Futura, sans-serif;
}

.parallax-header p {
  font-size: 32px;
  font-weight: 200;
  margin: 0;
}

.homepage .card-image {
  padding: 20px;
  height: 175px;
}

.card-attendance {
  background: #e6877c;
}

.card-assignments {
  background: #31657d;
}

.card-grades {
  background: #799fb0;
}

.homepage .card-image i {
  font-size: 72px;
  color: #fff;
}

.homepage h6 {
  text-align: center;
}
