.login {
    background: url('../images/abacus-login-background.jpg') top left no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Futura, sans-serif;
}

.login-header {
    text-align: center;
}

.login-header i {
    padding-top: 40px;
    font-size: 5rem;
    color: #494949;
    text-shadow: 0 0 2px #494949;
}

.login-header h1 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px #494949;
    margin: 5px 0;
}

.login-form {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px 3px #494949;
    border-bottom: 5px solid #B3E3D8;
    color: #494949;
    padding: 20px !important;
}

.login-form .form-group label {
    background: #B3E3D8;
    position: relative;
    padding: 5px 10px;
    top:5px;
    left: 10px;
    color: #fff;
    font-size: .8rem;
}

.login-form input {
    padding: 25px 15px 10px;
}

.login-form input:hover {
    border-color: #E6877C;
}


.login-form button {
    border-radius: 0;
    border: none;
    background: #E6877C;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
}

.login-form button:hover {
    background: #31657D;
}

.need-account {
    padding-top: 15px;
}

.need-account a {
    color: #68968C;
}

.form-group .col-3 {
    padding-left: 0;
}

.login-form .login-option {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border .5s;
}

.login-form .login-option:hover {
    border-color: #E6877C;
    cursor: pointer;
    transition: border-color .5s;
}

.login-form .login-option i {
    font-size: 4rem;
    padding-bottom: 20px;
    color: #a0a0a0;
    transition: color .5s;
}

.login-form .login-option:hover i {
    color: #E6877C;
    transition: color .5s;
}
